<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p> ---------------  first Task ---------------<p></p>
<!-- Scenario-One -->
<div>
  <app-taskone></app-taskone>
</div>

<p> ---------------  second Task ---------------<p>
<!-- Scenario-Two -->
<div>
  <app-tasktwo></app-tasktwo>
</div>

<p> ---------------  third Task ---------------</p>
<!-- third task -->
<div>
  <app-parent></app-parent>
</div>

<p> ---------------- fourth task ---------------</p>
<!-- fourth task -->
<div>
  <app-parentfour></app-parentfour>
</div>

<p> ---------------- fifth task ---------------</p>
<!-- fifth task -->
<div>
  <app-third></app-third>
</div>


<p> ---------------- sixth task ---------------</p>
<!-- sixth task -->
<div>
  <app-scenariosix-parent></app-scenariosix-parent>
</div>


<p> ---------------- sevnth task -------------- </p>
<!-- sevnth task -->
<div>
  <app-leftchild-serv></app-leftchild-serv>
  <app-rightchild-serv></app-rightchild-serv>
</div>

<router-outlet></router-outlet>
